@using Microsoft.AspNetCore.Identity
@using EventManager.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown-toggle">
                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Hello @UserManager.GetUserName(User)!</a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="Manage" asp-action="ChangeBio">Change Bio</a></li>
                        <li>
                            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Manage Account</a>
                        </li>
                        <li>
                            <a asp-controller="Event" asp-action="MyEvents" title="MyEvents">My Upcoming Events</a>
                        </li>
                    </ul>
                    <li>
                        <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
                    </li>
                </ul>
</form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown-toggle">
            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Register </a>
            <ul class="dropdown-menu">
                <li><a asp-area="" asp-controller="Account" asp-action="Register">User</a></li>
                <li><a asp-area="" asp-controller="Account" asp-action="RegisterArtist">Artist</a></li>
            </ul>
        </li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
