<link href="~/css/Style.css" rel="stylesheet" />
@model IEnumerable<EventManager.Models.Event>
@{
    ViewData["Title"] = "Home Page";
}

@*@if (User.Identity.IsAuthenticated)
{
    <h2>Events not added to calendar</h2>
}
else
{*@
    <h2>All Events</h2>


    @{
        foreach (var events in Model)
        {

            <time datetime=@events.date class="icon">
                <em>@events.date.DayOfWeek</em>
                <strong>@events.date.ToString("MMMM")</strong>
                <span>@events.date.Day</span>
            </time>
           // if (User.Identity.){
                <a asp-controller="Event" asp-action="AttendEvent" class="btn btn-info" id="attend" asp-route-id="@events.id">+Attend</a>
            //}else
            //{ 

            //}

        }

        if (User.IsInRole("Artist"))
        {
            <br><br/>
            <br />
            <a class="btn btn-lg btn-primary" asp-controller="Event" asp-action="CreateEvent">Create an Event</a>
        }
        
    }
