<link href="~/css/Style.css" rel="stylesheet" />
@model IEnumerable<EventManager.Models.Event>
@{
    ViewData["Title"] = "Home Page";
}

<h2>All Events</h2>


    @{
        foreach (var events in Model)
        {

            @*<div class="col-lg-3">*@
                <time datetime=@events.date class="icon">
                    <em>@events.date.DayOfWeek</em>
                    <strong>@events.date.ToString("MMMM")</strong>
                    <span>@events.date.Day</span>
                </time>
            @*</div>*@
            <a asp-controller="Event" asp-action="AttendEvent" class="btn btn-info" id="attend" asp-route-id="@events.id">+Attend</a>

            @*<div class="col-lg-9">
            </div>*@
        }

        if (User.IsInRole("Artist"))
        {
            <br><br/>
            <br />
                    
            <a class="btn btn-lg btn-primary" href="/Event/CreateEvent">Create an Event</a>
        }
        
                
    }
